//* ===[ FLEXBOX ]=== *//
@mixin flexbox ($disp: flex,
                 $dir: null,
                $just: null,
                 $ali: null) {
  display: $disp;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $ali;
  @content
}

//* ===[ BUTTON ]=== *//
@mixin button {
  border: 1px solid $primary-color;
  background: $secondary-color;
  font-family: $tertiary-font;
  padding: .6rem 1.5rem 1rem 1.5rem;
  @content
}