//* ===[ COLORS ]=== *//
$primary-color: #070709; // black text color
$secondary-color: #ffffff; // white background color
$hover-color: lighten( $primary-color, 50% ); // lighter black hover on links
$box-shadow-color: #b8b8b8; // grey box-shadow text color

//* ===[ FONT STACKS ]=== *//
$primary-font: 'Realtime', sans-serif;
$secondary-font: 'Realtime-Light', sans-serif;
$tertiary-font: 'Realtime-Bold', sans-serif;
$quaternary-font: 'Realtime-Black', sans-serif;
$quinary-font: 'Holland', sans-serif;

//* ===[ BREAKPOINTS ]=== *//
$break-s: 425px; //small breakpoint
$break-l: 1025px; //medium breakpoint
