//* ===[ MOBILE BREAKPOINT ]=== *//
.footer {
  margin: 6rem 0 2rem 0;
}

.footer-wrapper {
  @include flexbox ($dir: column, $just: center, $ali: center) {
    border-top: 2px solid $primary-color;
  }
}

.footer-title {
  display: none;
}

.f-icons-fb-link {
  text-decoration: none;
  display:block;
}

.f-icons-in-link {
  text-decoration: none;
  display:block;
}

//* ===[ DESKTOP BREAKPOINT ]=== *//
@media only screen and (min-width: 1025px) {
  .footer {
    margin: 18rem 0 4rem 0;
  }

  .footer-wrapper {
    @include flexbox ($dir: row, $just: space-between, $ali: center) {
    }
  }

  .footer-title {
    display: inline;
    font-family: $quinary-font;
    font-size: 4rem;
    transform: rotate(-10deg);
  }

  .f-icons-fb-link {
    &:hover {
      background-color: $hover-color;
    }
  }

  .f-icons-in-link {
    &:hover {
      background-color: $hover-color;
    }
  }
}
