//* ===[ MOBILE BREAKPOINT ]=== *//
.footer {
  margin: $gutter-lg 0 $gutter-s 0;
}

.footer-wrapper {
  @include flexbox ( $dir: column, $just: center, $ali: center ) {
    border-top: 2px solid $primary-color;
  }
}

.footer-title {
  display: none;
}

.f-icons-fb-link {
  display: block;
  text-decoration: none;
  height: 3.5rem;
}

.f-icons-in-link {
  display: block;
  text-decoration: none;
  height: 3.5rem;
}

//* ===[ DESKTOP BREAKPOINT ]=== *//
@media only screen and (min-width: $break-l) {
  .footer {
    margin: $gutter-xlg 0 $gutter-lg 0;
  }

  .footer-wrapper {
    @include flexbox ( $dir: row, $just: space-between, $ali: center ) {}
  }

  .footer-title {
    display: inline;
    font-family: $quinary-font;
    font-size: 4rem;
    transform: rotate(-10deg);
    margin: 2rem 0 0;
  }

  .f-icons-fb-link {
    &:hover {
      background-color: $hover-color;
    }
  }

  .f-icons-in-link {
    &:hover {
      background-color: $hover-color;
    }
  }
}
