//* ===[ X-SMALL BREAKPOINT - portrait phones ]=== *//
.header {
  width: 100%;
  margin: 2rem auto 5rem auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.nav-body {
  @include flexbox($dir: column,
  $just: center,
  $ali: center) {
    width: 100%;
  }
}

.nav-body-r-menu-wrpr {
  @include flexbox($just: center, $ali: center) {
    width: 80%;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    background: $secondary-color;
    margin: 0;
  }
  .nav-body-r-menu-h2 {
    font-family: $primary-font;
    font-weight: 600;
    font-size: $font-size-rg-mb;
    background: $secondary-color;
    text-transform: uppercase;
    padding: .6rem 0 1rem 0;
  }
}

.nav-body-logo-wrapper {
  width: 100%;
  text-align: center;
  order: 3;
  margin-top: 5rem;
}

.nav-body-logo {
  width: 40%;
}

.nav-body-logo-link {
  display: block;
  width: 100%;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: $primary-color;
  }
}

.nav-body-list-wrapper {
  @include flexbox($dir: column, $just: center, $ali: center) {
    opacity: 0;
    list-style: none;
    width: 80%;
    height: 0;
    background: $secondary-color;
    transition: .2s ease-in-out;
    transform: translate(0, -5px);
    visibility: hidden;
    overflow: hidden;
  }
}

.nav-body-list-wrapper--shown {
  opacity: 1;
  height: 20rem;
  border-bottom: 1px solid $primary-color;
  transition: .2s ease-in-out;
  transform: translate(0, 5px);
  visibility: visible;
  overflow: hidden;
}

.nav-body-list-item {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.nav-body-list-link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: $primary-font;
  font-weight: normal;
  font-size: $font-size-rg-mb;
  line-height: 1.25;
  text-align: center;
  color: $primary-color;
  &:hover,
  &:focus,
  &:active {
    color: $hover-color;
    font-weight: 600;
  }
}


//* ===[ SMALL BREAKPOINT - landscape phones]=== *//
@media only screen and (min-width: $break-s) {
  .nav-body-logo {
    width: 30%;
  }
}


//* ===[ MEDIUM BREAKPOINT - tablets ]=== *//
@media only screen and (min-width: $break-m) {
  .nav-body-logo {
    width: 20%;
  }
}


//* ===[ LARGE BREAKPOINT - desktops ]=== *//
@media only screen and (min-width: $break-l) {
  .header {
    margin: 2rem auto 1rem auto;
  }

  .container {
    width: 60%;
    margin: 0 auto;
  }

  .nav-body {
    @include flexbox($dir: row,
    $just: space-between,
    $ali: flex-end) {
      width: 100%;
    }
  }

  .nav-body-r-menu-wrpr {
    display:none;
    }

  .nav-body-r-menu-h2 {
    display:none;
  }

  .nav-body-logo-wrapper {
    width: 20%;
    text-align: left;
    order: initial;
  }
  
  

  .nav-body-logo {
    width: 65%;
  }

  .nav-body-list-wrapper {
    @include flexbox($dir: row,
    $just: flex-end,
    $ali: flex-end) {
      height: inherit;
      opacity: 1;
      transform: none;
      margin-top: 0rem;
      width: 100%;
      visibility: visible;
    }
  }

  .nav-body-list-item {
    display: inline;
    width: initial;
    margin: 0 0 0 2rem;
  }

  .nav-body-list-link {
    display: inline;
    text-align: right;
    &:hover,
    &:focus,
    &:active {
      color: $hover-color;
    }
  }
}
