/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Realtime-Light';
  src: url("/fonts/realtimelight.otf"); }
@font-face {
  font-family: 'Realtime';
  src: url("/fonts/realtime.otf"); }
@font-face {
  font-family: 'Realtime-Bold';
  src: url("/fonts/realtimebold.otf"); }
@font-face {
  font-family: 'Realtime-Bold';
  src: url("/fonts/realtimeblack.otf"); }
@font-face {
  font-family: 'Holland';
  src: url("/fonts/holland.ttf"); }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.index-main-photo-shoot-spotlight-article-button {
  border: 1px solid #070709;
  background: #ffffff;
  font-family: "Realtime", sans-serif;
  font-weight: 600;
  width: 100%;
  margin-top: 6rem;
  font-size: 1.6rem; }

.index-btn-lnk {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: .6rem 1.5rem 1rem 1.5rem; }
  .index-btn-lnk:visited, .index-btn-lnk:hover, .index-btn-lnk:active {
    text-decoration: none;
    color: #070709; }

.cnt-b-c-btn {
  border: 1px solid #070709;
  background: #ffffff;
  font-family: "Realtime", sans-serif;
  font-weight: 600;
  width: 100%;
  margin-top: 4rem;
  font-size: 1.6rem; }

.footer-icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  margin-top: 2rem; }

.footer-icons-fb-wrapper {
  margin: 0 1rem 0 0; }

.footer-icons-in-wrapper {
  margin: 0 0 0 1rem; }

.f-icons-fb {
  width: 4rem;
  stroke: #070709; }
  .f-icons-fb .f-icons-fb-lg {
    fill: #070709;
    stroke: #070709;
    stroke-width: 2; }

.f-icons-fb-bq {
  stroke: #070709;
  stroke-width: 2;
  fill: none;
  x: 1;
  y: 1;
  width: 97%;
  height: 97%; }

.f-icons-in {
  width: 4rem; }
  .f-icons-in .f-icons-in-bq {
    stroke: #070709;
    stroke-width: 4;
    fill: none;
    width: 100%; }
  .f-icons-in .f-icons-in-lr-crcl {
    stroke: #070709;
    fill: none;
    stroke-width: 2; }

.f-icons-in-sm-crcl {
  fill: #070709;
  stroke: none;
  cx: 53;
  cy: 23;
  r: 3; }

.f-icons-in-m-crcl {
  fill: #070709;
  stroke: none;
  cx: 38;
  cy: 38;
  r: 12; }

@media only screen and (min-width: 992px) {
  .index-main-photo-shoot-spotlight-article-button {
    border: 1px solid #070709;
    background: #ffffff;
    font-family: "Realtime", sans-serif;
    font-weight: 600;
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    cursor: pointer;
    font-size: 1.6rem; }
    .index-main-photo-shoot-spotlight-article-button:hover {
      background-color: #b8b8b8; }

  .footer-icons-fb-wrapper {
    margin: 0 .2rem 0 0; }

  .footer-icons-in-wrapper {
    margin: 0 0 0 0.2rem; }

  .f-icons-fb {
    width: 3.5rem; }

  .f-icons-in {
    width: 3.5rem; }

  .cnt-b-c-btn {
    border: 1px solid #070709;
    background: #ffffff;
    font-family: "Realtime", sans-serif;
    font-weight: 600;
    width: 48%;
    float: right;
    margin-top: 4rem;
    font-size: 1.6rem; } }
.nav__submenu {
  border: 1px solid;
  border-bottom-width: .5rem;
  display: block;
  font-family: "Realtime", sans-serif;
  font-size: 1.6rem;
  padding-top: 1rem;
  opacity: 1;
  visibility: visible;
  z-index: 1000; }
  .nav__submenu-item {
    margin-bottom: 1rem; }

/**
Todo: put this in a media query
 */
.nav-body-list-link:hover + .nav__submenu,
.nav-item-submenu:hover .nav__submenu,
.nav__submenu:hover {
  display: block;
  opacity: 1;
  visibility: visible; }

@media only screen and (min-width: 992px) {
  .nav__submenu {
    background-color: #fff;
    border: 0 solid;
    border-bottom-width: .5rem;
    display: none;
    font-family: "Realtime", sans-serif;
    font-size: 1.6rem;
    padding-top: 1rem;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1000; }
    .nav__submenu-item {
      padding: .5rem 1rem .5rem 1rem;
      text-align: left; }

  /**
  Todo: put this in a media query
   */
  .nav-body-list-link:hover + .nav__submenu,
  .nav-item-submenu:hover .nav__submenu,
  .nav__submenu:hover {
    display: block;
    opacity: 1;
    visibility: visible; } }
html {
  font-size: 62.5%; }

.body {
  background-color: #ffffff; }

* {
  box-sizing: border-box; }

.header {
  width: 100%;
  margin: 2rem auto 5rem auto; }

.container {
  width: 100%;
  margin: 0 auto; }

.nav-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.nav-body-r-menu-wrpr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0;
  background: #ffffff;
  border-top: 1px solid #070709;
  border-bottom: 1px solid #070709; }
  .nav-body-r-menu-wrpr .nav-body-r-menu-h2 {
    padding: .6rem 0 1rem 0;
    font-family: "Realtime", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #ffffff; }

.nav-body-logo-wrapper {
  width: 100%;
  order: 3;
  margin-top: 5rem;
  text-align: center; }

.nav-body-logo {
  width: 50%; }

.nav-body-logo-link {
  display: block;
  width: 100%;
  text-decoration: none; }
  .nav-body-logo-link:hover, .nav-body-logo-link:focus, .nav-body-logo-link:active {
    color: #070709; }

.nav-body-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 0;
  opacity: 0;
  list-style: none;
  background: #ffffff;
  transition: .2s ease-in-out;
  transform: translate(0, -5px);
  visibility: hidden;
  overflow: hidden; }

.nav-body-list-wrapper--shown {
  height: 45rem;
  opacity: 1;
  border-bottom: 1px solid #070709;
  transition: .2s ease-in-out;
  transform: translate(0, 5px);
  visibility: visible;
  overflow: hidden; }

.nav-body-list-item {
  display: block;
  width: 100%;
  margin-bottom: 2rem; }

.nav-body-list-link {
  display: block;
  width: 100%;
  font-family: "Realtime", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  color: #070709; }

.nav-body-list-link-drpd {
  color: #ffffff;
  background-color: #070709; }

@media only screen and (min-width: 576px) {
  .nav-body-logo {
    width: 30%; } }
@media only screen and (min-width: 768px) {
  .nav-body-logo {
    width: 20%; } }
@media only screen and (min-width: 992px) {
  .header {
    margin: 5rem auto 1rem auto; }

  .container {
    width: 60%;
    margin: 0 auto; }

  .nav-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%; }

  .nav-body-r-menu-wrpr {
    display: none; }

  .nav-body-r-menu-h2 {
    display: none; }

  .nav-body-logo-wrapper {
    width: 20%;
    margin-top: 0;
    order: initial;
    text-align: left; }

  .nav-body-logo {
    width: 100%; }

  .nav-body-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: inherit;
    margin-top: 0;
    opacity: 1;
    transform: none;
    visibility: visible; }

  .nav-body-list-item {
    display: inline;
    width: initial;
    margin: 0 0 0 2rem; }

  .nav-body-list-link {
    display: inline;
    text-align: right; }
    .nav-body-list-link:hover, .nav-body-list-link:focus, .nav-body-list-link:active {
      color: #b8b8b8; }

  .nav-body-list-link-drpd {
    color: #070709;
    background-color: initial; }

  .dropdown {
    background-image: url("/images/all/dropdown_arrow.svg");
    background-size: .8rem;
    background-repeat: no-repeat;
    background-position: right 1.1rem;
    padding-right: 1.1rem; }
    .dropdown:hover {
      background-image: url("/images/all/dropdown_arrow_hover.svg"); }
    .dropdown:focus {
      background-image: url("/images/all/dropdown_arrow_hover.svg"); } }
.footer {
  margin: 5rem 0 2rem 0; }

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #070709; }

.footer-title {
  display: none; }

.f-icons-fb-link {
  display: block;
  text-decoration: none; }

.f-icons-in-link {
  display: block;
  text-decoration: none; }

@media only screen and (min-width: 992px) {
  .footer {
    margin: 15rem 0 5rem 0; }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  .footer-title {
    display: inline;
    font-family: "Holland", sans-serif;
    font-size: 4rem;
    transform: rotate(-10deg); }

  .f-icons-fb-link:hover {
    background-color: #b8b8b8; }

  .f-icons-in-link:hover {
    background-color: #b8b8b8; } }
.cnt-b-c-frm-wrp {
  width: 80%; }

.cnt-b-c-frm-rw {
  width: 100%;
  text-align: center; }

.cnt-b-c-frm-lbl {
  display: block;
  width: 100%;
  font-family: "Realtime", sans-serif;
  color: #070709;
  font-size: 1.6rem;
  margin: 0 0 1rem 0; }

.cnt-b-c-inp {
  width: 100%;
  text-align: left;
  background-color: #ffffff;
  font-family: "Realtime", sans-serif;
  color: #070709;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid #070709;
  -webkit-border-radius: 0;
  outline: #070709;
  padding: .7rem 2rem 1rem 2rem;
  margin: 0 0 2rem; }

@media only screen and (min-width: 992px) {
  .cnt-b-c-frm-wrp {
    display: flex;
    flex-direction: column;
    width: 60%; }

  .cnt-b-c-frm-rw {
    text-align: left; }

  .cnt-b-c-frm-rw-wrp {
    display: flex;
    justify-content: space-between; }

  .cnt-b-c-frm-rw-50 {
    width: 48%; } }
.index-main-top-image {
  max-width: 100%; }

.index-main-quote-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  margin-top: 5rem; }

.slick-slide {
  height: auto; }

.index-main-quote {
  font-family: "Realtime", sans-serif;
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 1.15;
  color: #070709;
  padding: 0 4rem;
  text-align: center; }
  .index-main-quote-box-shadow {
    padding: 0 0.25rem;
    box-shadow: inset 0 -1.2rem 0 0 #b8b8b8;
    font-family: "Realtime-Bold", sans-serif; }

.index-main-photo-shoot-spotlight-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10rem; }

.index-main-photo-shoot-spotlight-image-wrapper {
  width: 100%; }
  .index-main-photo-shoot-spotlight-image-wrapper .index-main-photo-shoot-spotlight-image {
    width: 100%; }

.index-main-photo-shoot-spotlight-article-wrapper {
  width: 80%;
  text-align: center; }
  .index-main-photo-shoot-spotlight-article-wrapper .index-main-photo-shoot-spotlight-article-h3 {
    font-family: "Realtime-Bold", sans-serif;
    font-size: 2.2rem;
    line-height: 1.14;
    color: #070709;
    margin-top: 2rem; }
    .index-main-photo-shoot-spotlight-article-wrapper .index-main-photo-shoot-spotlight-article-h3-boxshadow {
      padding: 0 0.25rem;
      box-shadow: inset 0 -1.1rem 0 0 #b8b8b8; }

.index-main-photo-shoot-spotlight-article-p {
  font-family: "Realtime-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #070709;
  margin-top: 2rem; }

@media only screen and (min-width: 576px) {
  .index-main-quote {
    padding: 0 20rem; } }
@media only screen and (min-width: 768px) {
  .index-main-quote {
    padding: 0 20rem; } }
@media only screen and (min-width: 992px) {
  .index-main-top-image-wrapper {
    margin-top: 1rem; }

  .index-main-quote {
    font-size: 3.6rem;
    line-height: 1.25;
    padding: 0 20rem; }
    .index-main-quote-box-shadow {
      padding: 0 0.25rem;
      box-shadow: inset 0 -1.6rem 0 0 #b8b8b8; }

  .index-main-photo-shoot-spotlight-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: stretch; }

  .index-main-photo-shoot-spotlight-image-wrapper {
    width: 48%; }

  .index-main-photo-shoot-spotlight-article-wrapper {
    width: 48%;
    position: relative;
    padding: 0; }
    .index-main-photo-shoot-spotlight-article-wrapper .index-main-photo-shoot-spotlight-article-h3 {
      font-family: "Realtime-Bold", sans-serif;
      font-size: 2.8rem;
      line-height: 1.25;
      color: #070709;
      margin-top: 0; }

  .index-main-photo-shoot-spotlight-article-p {
    font-family: "Realtime-Light", sans-serif;
    font-size: 1.6rem;
    line-height: 1.375;
    color: #070709;
    margin-top: 2rem;
    padding-bottom: 20rem; } }
@media only screen and (min-width: 1200px) {
  .index-main-top-image-wrapper {
    margin-top: 1rem; } }
.abu-t-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.abu-t-img-wrp {
  width: 100%; }

.abu-t-img {
  width: 100%; }

.abu-t-c-wrp {
  width: 80%;
  text-align: center;
  margin-top: 2rem; }

.abu-t-c-h3 {
  font-family: "Realtime-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.14;
  color: #070709; }
  .abu-t-c-h3-bxs {
    padding: 0 0.25rem;
    box-shadow: inset 0 -1.1rem 0 0 #b8b8b8; }

.abu-t-c-p {
  font-family: "Realtime-Light", sans-serif;
  color: #070709;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 2rem; }

.abu-b-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0 0; }

.abu-b-img-wrp {
  width: 100%; }

.abu-b-img {
  width: 100%; }

.abu-b-c-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.abu-b-c-li-wrp {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem; }

.abu-b-c-li-t {
  font-family: "Realtime-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.14;
  color: #070709;
  margin: 0 0 1rem; }

.abu-b-c-li {
  font-family: "Realtime-Light", sans-serif;
  color: #070709;
  font-size: 1.6rem;
  line-height: 1.25; }

@media only screen and (min-width: 768px) {
  .abu-t-wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }
    .abu-t-wrp .abu-t-img-wrp {
      width: 48%; }
    .abu-t-wrp .abu-t-c-wrp {
      width: 48%;
      margin-top: 0; }

  .abu-b-c-wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }

  .abu-b-c-li-wrp-gr {
    text-align: left; }

  .abu-b-c-li-wrp-ed {
    text-align: right; } }
@media only screen and (min-width: 992px) {
  .abu-t-wrp {
    margin-top: 6rem; }

  .abu-t-c-h3 {
    font-size: 2.8rem;
    line-height: 1.25; }
    .abu-t-c-h3-bxs {
      padding: 0 0.25rem;
      box-shadow: inset 0 -1.3rem 0 0 #b8b8b8; }

  .abu-t-c-p {
    font-size: 1.6rem;
    line-height: 1.375; }

  .abu-b-c-li-t {
    font-size: 2.8rem;
    line-height: 1.25; }

  .abu-b-c-li {
    font-size: 1.6rem;
    line-height: 1.375; } }
.wrks-wrp {
  display: flex;
  flex-direction: column; }

.wrks-wrp-tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem; }

.wrks-wrp-t {
  display: flex;
  justify-content: center;
  align-items: center; }

.wrks-t-h2 {
  font-family: "Realtime-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.14;
  color: #070709;
  padding: 0 0.25rem;
  box-shadow: inset 0 -1.1rem 0 0 #b8b8b8; }

.wrks-wrp-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.wrk {
  width: 100%;
  margin: 2rem 0 0 0;
  text-align: center; }

.wrk-lnk {
  display: block;
  text-decoration: none; }

.wrk-img-wrp,
.wrk-img {
  width: 100%; }

.wrk-t-h4 {
  font-family: "Realtime-Bold", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #070709;
  margin: 1rem 0 2rem 0; }

@media only screen and (min-width: 768px) {
  .wrk-t-h3 {
    font-size: 1.6rem; } }
@media only screen and (min-width: 992px) {
  .wrks-wrp {
    margin-top: 5rem; }

  .wrks-wrp-t {
    margin-bottom: 2rem; }

  .wrks-wrp-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  .wrk {
    width: 48%;
    margin: 0; }

  .wrk-t-h4 {
    margin: 1rem 0 0 0; }

  .wrk-img {
    width: 100%;
    transition: .4s ease-in-out;
    transform: scale(1, 1); }
    .wrk-img:hover {
      opacity: .5;
      transition: .4s ease-in-out;
      transform: scale(1.01, 1.01); } }
.sw-t-wrpr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.sw-t-img-wrpr {
  width: 100%; }
  .sw-t-img-wrpr .sw-t-img {
    width: 100%; }

.sw-t-cnt-wrpr {
  width: 80%;
  text-align: center;
  margin: 2rem 0 0 0; }

.sw-t-cnt-h3 {
  width: auto;
  font-family: "Realtime-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.14; }
  .sw-t-cnt-h3-bxshdw {
    padding: 0 0.25rem;
    box-shadow: inset 0 -1.1rem 0 0 #b8b8b8; }

.sw-t-cnt-p {
  font-family: "Realtime-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 2rem 0 0 0; }

.sw-b-wrpr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 2rem 0 0 0; }

.sw-b-img-wrpr-50 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%; }

.sw-b-img-wrpr-100 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%; }

.sw-b-img-50,
.sw-b-img-100 {
  width: 100%; }

@media only screen and (min-width: 768px) {
  .sw-b-img-wrpr-50 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }

  .sw-b-img-50 {
    width: 48%;
    margin: 4% 0 0 0; }

  .sw-b-img-100 {
    width: 100%;
    margin: 4% 0 0 0; } }
@media only screen and (min-width: 992px) {
  .sw-t-cnt-wrpr {
    width: 100%; }

  .sw-t-cnt-h3 {
    font-size: 2.8rem;
    line-height: 1.25; }
    .sw-t-cnt-h3-bxshdw {
      padding: 0 0.25rem;
      box-shadow: inset 0 -1.3rem 0 0 #b8b8b8; }

  .sw-t-cnt-p {
    font-size: 1.6rem;
    line-height: 1.375; } }
.prc-t-wrp {
  width: 100%; }

.prc-t-c-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center; }

.prc-t-c-tit {
  font-family: "Realtime-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.14;
  color: #070709; }
  .prc-t-c-tit-bxs {
    padding: 0 0.25rem;
    box-shadow: inset 0 -1.1rem 0 0 #b8b8b8; }

.prc-t-c-cnt {
  width: 80%;
  font-family: "Realtime-Light", sans-serif;
  color: #070709;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 2rem; }

.prc-t-img-wrp {
  width: 100%;
  margin: 2rem 0 0; }

.prc-t-img {
  width: 100%; }

.prc-b-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0 0; }

.prc-b-tb-wrp {
  width: 80%;
  text-align: center;
  border: 2px solid #070709; }

.prc-b-tb-tit {
  font-family: "Realtime-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.14;
  color: #070709;
  border-bottom: 2px solid #070709;
  margin: 0 0 2rem;
  padding: 1.2rem 0 2rem; }

.prc-b-tb-li {
  width: 100%;
  font-family: "Realtime-Light", sans-serif;
  color: #070709;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 0 0 1rem; }

.prc-b-tb-li-lt {
  text-decoration: line-through; }

.prc-b-tb-btn {
  width: 100%;
  font-family: "Realtime-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.14;
  color: #070709;
  background: #ffffff;
  border: 0;
  margin: 4rem 0 2rem; }

.prc-b-tb-wrp-01,
.prc-b-tb-wrp-02 {
  border-bottom: 0; }

@media only screen and (min-width: 768px) {
  .prc-t-c-cnt {
    width: 100%; }

  .prc-b-tb-wrp {
    width: 100%; } }
@media only screen and (min-width: 992px) {
  .prc-t-wrp {
    margin: 6rem 0 0; }

  .prc-b-wrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }

  .prc-b-tb-wrp-01,
  .prc-b-tb-wrp-02 {
    border-bottom: 2px solid #070709;
    border-right: 0; }

  .prc-t-c-tit {
    font-size: 2.8rem;
    line-height: 1.25; }
    .prc-t-c-tit-bxs {
      box-shadow: inset 0 -1.2rem 0 0 #b8b8b8; }

  .prc-t-c-cnt {
    font-size: 1.6rem;
    line-height: 1.375; }

  .prc-b-tb-tit {
    font-size: 2.8rem;
    line-height: 1.25; }

  .prc-b-tb-li {
    font-size: 1.6rem;
    line-height: 1.375; } }
.cnt-t-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.cnt-t-c-wrp {
  width: 100%;
  text-align: center; }

.cnt-t-c-nfo {
  font-family: "Realtime", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #070709;
  margin: 0 0 6rem 0; }

.cnt-t-c-nfo-tt {
  font-family: "Realtime", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #070709;
  margin: 0 0 5rem 0; }

.cnt-t-c-mps-wrp {
  width: 100%;
  margin: 0 0 6rem; }

.cnt-t-c-mps {
  width: 100%;
  height: 60%;
  border: 0;
  margin: 0; }

.cnt-b-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.cnt-b-c-wrp {
  width: 100%; }

.success-msg-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0; }

.success-msg {
  border: 1px solid #8fdf48;
  font-family: "Realtime", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #8fdf48;
  width: 100%;
  text-align: center;
  padding: 1.6rem 1rem 2rem; }

@media only screen and (min-width: 992px) {
  .cnt-t-wrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 6rem 0 0 0; }

  .cnt-t-c-nfo {
    font-size: 1.6rem;
    line-height: 1.375;
    margin: 0 0 3rem 0; }

  .cnt-t-c-nfo-tt {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.375; }

  .cnt-t-c-wrp {
    width: 40%;
    text-align: left; }

  .cnt-t-c-mps-wrp {
    width: 60%; }

  .cnt-b-wrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%; }

  .cnt-b-c-wrp {
    width: 40%; }

  .success-msg {
    border: 2px solid #8fdf48;
    font-size: 2.8rem;
    padding: 2.4rem 1rem 3rem; } }

/*# sourceMappingURL=main.css.map */
