//* ===[ X-SMALL BREAKPOINT - portrait phones ]=== *//
.abu-t-wrp {
  @include flexbox($dir:column, $just: center, $ali: center) {
    width: 100%;
  }
}

.abu-t-img-wrp {
  width: 100%;
}

.abu-t-img {
  width: 100%;
}

.abu-t-c-wrp {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
}

.abu-t-c-h3 {
  font-family: $tertiary-font;
  font-size: $font-size-md-mb;
  line-height: 1.14;
  color: $primary-color;
    &-bxs {
      padding: 0 0.25rem;
      box-shadow: inset 0 -1.1rem 0 0 $box-shadow-color;
    }
}

.abu-t-c-p {
  font-family: $secondary-font;
  color: $primary-color;
  font-size: $font-size-rg-mb;
  line-height: 1.25;
  margin-top: 2rem;
}

.abu-b-wrp {
  @include flexbox($dir:column, $just: center, $ali: center) {
    width: 100%;
    margin: 2rem 0 0;
  }
}

.abu-b-img-wrp {
  width: 100%;
}

.abu-b-img {
  width: 100%;
}

.abu-b-c-wrp {
  @include flexbox($dir:column, $just: center, $ali: center) {
    width: 100%;
  }
}

.abu-b-c-li-wrp {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem;
}


.abu-b-c-li-t {
  font-family: $tertiary-font;
  font-size: $font-size-md-mb;
  line-height: 1.14;
  color: $primary-color;
  margin: 0 0 1rem;
}

.abu-b-c-li {
  font-family: $secondary-font;
  color: $primary-color;
  font-size: $font-size-rg-mb;
  line-height: 1.25;
}

//* ===[ SMALL BREAKPOINT - landscape phones]=== *//
@media only screen and (min-width: $break-s) {}

//* ===[ MEDIUM BREAKPOINT - tablets ]=== *//
@media only screen and (min-width: $break-m) {
  .abu-t-wrp {
    @include flexbox($dir:row, $just: space-between, $ali: flex-start) {
      width: 100%;
    }

    .abu-t-img-wrp {
      width: 48%;
    }

    .abu-t-c-wrp {
      width: 48%;
      margin-top: 0;
    }
  }

  .abu-b-c-wrp {
    @include flexbox($dir:row, $just: space-between, $ali: flex-start) {
      width: 100%;
    }
  }

  .abu-b-c-li-wrp-gr {
    text-align: left;
  }

  .abu-b-c-li-wrp-ed {
    text-align: right;
  }
}

//* ===[ LARGE BREAKPOINT - desktops ]=== *//
@media only screen and (min-width: $break-l) {
  .abu-t-wrp {
    margin-top: 6rem;
    }

  .abu-t-c-h3 {
    font-size: $font-size-md-dt;
    line-height: 1.25;
    &-bxs {
      padding: 0 0.25rem;
      box-shadow: inset 0 -1.3rem 0 0 $box-shadow-color;
    }
  }

  .abu-t-c-p {
    font-size: $font-size-rg-dt;
    line-height: 1.375;
  }

  .abu-b-c-li-t {
    font-size: $font-size-md-dt;
    line-height: 1.25;
  }

  .abu-b-c-li {
    font-size: $font-size-rg-dt;
    line-height: 1.375;
  }
}