//* ===[ X-SMALL BREAKPOINT - portrait phones ]=== *//

.wrks-wrp {
  @include flexbox($dir: column) {
  }
}

.wrks-wrp-tr {
  @include flexbox($dir: column) {
  }
}

//* =[ Portfolio - Title ]= *//
.wrks-wrp-t {
  @include flexbox($just: center, $ali: center){
    margin-bottom: 2rem;
  }
}

.wrks-t-h2 {
  font-family: $primary-font;
  font-weight: 600;
  font-size: $font-size-lg-mb;
  padding: 0 0.25rem;
  box-shadow: inset 0 -.7rem 0 0 $box-shadow-color;
}

//* =[ Portfolio - Content ]= *//
.wrks-wrp-c {
  @include flexbox($dir:column, $ali: flex-start) {
  }
}

.wrk {
  width: 100%;
  margin: 0 0 2rem 0;
  text-align: center;
}

.wrk-lnk {
  display: block;
  text-decoration: none;
}

.wrk-img-wrp,
.wrk-img {
  width: 100%;
}

.wrk-t-h3 {
  font-family: $tertiary-font;
  font-size: $font-size-md-mb;
  margin: .5rem 0 2rem 0;
}

//* ===[ LARGE BREAKPOINT - desktops ]=== *//
@media only screen and (min-width: $break-l) {
  //* =[ Portfolio - Content ]= *//
  .wrks-wrp {
    margin-top: 6rem;
  }

  .wrks-wrp-t {
    margin-bottom: 2rem;
  }

  .wrks-wrp-c {
    @include flexbox($dir:row, $just:space-between, $ali:center) {
    }
  }

  .wrk-img {

  }

  .wrk {
    width: 48%;
    margin: 0;
  }

  .wrk-t-h3 {
    margin: 1rem 0 0 0;
  }
}


