//* ===[ MOBILE BREAKPOINT ]=== *//

//* =[ button ]= *//
.index-main-photo-shoot-spotlight-article-button {
  @include button {
    width: 100%;
    margin-top: 6rem;
    font-size: $font-size-rg-mb;
  }
}

.index-btn-lnk {
  display: block;
  width: 50%;
  margin: 6rem auto 0;
  border: 1px solid $primary-color;
  font-size: $font-size-rg-mb;
  background: $secondary-color;
  font-family: $primary-font;
  font-weight: 600;
  text-decoration: none;
  padding: .6rem 1.5rem 1rem 1.5rem;
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: $primary-color;
  }
}

.cnt-b-c-btn {
  @include button {
    width: 100%;
    margin-top: 4rem;
    font-size: $font-size-rg-mb;
  }
}

//* =[ social media ]= *//
.footer-icons-wrapper {
  @include flexbox ($dir: row, $just: center, $ali: flex-start) {
    width: auto;
    margin-top: 2rem;
  }

}
.footer-icons-fb-wrapper {
  margin: 0 1rem 0 0;
}

.footer-icons-in-wrapper {
  margin: 0 0 0 1rem;
}

//* =[ facebook ]= *//
.f-icons-fb {
  border: .1rem solid $primary-color;
  padding: .6rem;
  width: 4rem;
  height: 4rem;
}

//* =[ instagram ]= *//
.f-icons-in {
  border: .1rem solid $primary-color;
  width: 4rem;
  height: 4rem;
}

@media only screen and (min-width: $break-l) {
  //* =[ button ]= *//
  .index-btn-lnk {
      position: absolute;
      width: 50%;
      bottom: 0;
      left: 25%;
      cursor: pointer;
      font-size: $font-size-rg-dt;
      margin-top: 6rem;
      &:hover {
        background-color: $hover-color;
      }
    }

  .footer-icons-fb-wrapper {
    margin: 0 .2rem 0 0;
  }

  .footer-icons-in-wrapper {
    margin: 0 0 0 0.2rem;
  }

  .f-icons-fb {
    width: 3.5rem;
    height: 3.5rem;
  }

  .f-icons-in {
    width: 3.5rem;
    height: 3.5rem;
  }

  .cnt-b-c-btn {
    @include button {
      width: 48%;
      float: right;
      margin-top: 4rem;
      font-size: $font-size-rg-mb;
      &:hover {
        background-color: $hover-color;
        cursor: pointer;
      }
    }
  }
}
