.nav__submenu {
  background-color: #fff;
  border: 0 solid;
  border-bottom-width: .5rem;
  display: none;
  font-family: $primary-font;
  font-size: $font-size-rg-dt;
  padding-top: 1rem;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1000;

  &-item {
    padding: .5rem 4.5rem .5rem .5rem;
    text-align: left;
  }
}

/**
Todo: put this in a media query
 */
.nav-body-list-link:hover + .nav__submenu,
.nav-item-submenu:hover .nav__submenu,
.nav__submenu:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}


