//* ===[ FONTS IMPORT ]=== *//

//* =[ Realtime ]= *//
@font-face {
  font-family: 'Realtime-Light';
  src: url('/fonts/realtimelight.otf');
}

@font-face {
  font-family: 'Realtime';
  src: url('/fonts/realtime.otf');
}

@font-face {
  font-family: 'Realtime-Bold';
  src: url('/fonts/realtimebold.otf');
}

@font-face {
  font-family: 'Realtime-Bold';
  src: url('/fonts/realtimeblack.otf');
}

//* =[ Holland ]= *//
@font-face {
  font-family: 'LovelyHome';
  src: url('/fonts/LovelyHome.ttf');
}


